certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
codecov==2.0.16
coverage==4.5.4
cryptography==2.8
Django==2.2.10
django-rest-knox==4.1.0
djangorestframework==3.9.4
flake8==3.6.0
gunicorn==20.0.4
idna==2.9
mccabe==0.6.1
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
